@font-face {
    font-family: 'Bonnes';
    src: url(../src/assets/fonts/BONNES.ttf);
}
@font-face {
    font-family: 'Neue';
    src: url(../src/assets/fonts/HelveticaNeueMedium.otf);
}
@font-face {
    font-family: 'Peach';
    src: url(../src/assets/fonts/Peach\ Classy.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background-color: #101010 ;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Bonnes';
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body.no-scroll {
    overflow: hidden;
}

canvas {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: 0;
    padding: 1.5em 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
}

.logo {
    width: 50px;
    mix-blend-mode: difference;
}

.menu-open, .menu-close {
    cursor: pointer;
    mix-blend-mode: difference;
}

.menu {
    position: fixed;
    top: 0;
    padding: 1.5em;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    color: #fff;
    display: flex;
    gap: 1.5em;
    overflow: hidden;
    z-index: 301;
    pointer-events: none;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 302;
}

.menu-img {
    position: relative;
    flex: 3;
    overflow: hidden;
}

.menu-items {
    position: relative;
    top: 0px;
    flex: 1;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 299;
    font-family: 'Neue';
}

.menu-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-1 {
    opacity: 0.9;
}
#img-2 {
    opacity: 0.7;
}
#img-3 {
    opacity: 0.5;
}
#img-4 {
    opacity: 0.3;
}

.menu-logo {
    width: 48px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-logo img {
    position: relative;
}

.menu-link p {
    position: relative;
    font-family: 'Bonnes';
    font-size:3rem;
    font-weight: 700;
    overflow: hidden;
}

.menu-link a {
    text-decoration: none;
    color: #fff;
}

.menu-footer {
    width: 100%;
    display: flex;
}

.menu-sub-col {
    flex: 1;
}

.menu-sub-item p {
    position: relative;
}

.menu-link, .menu-sub-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.o {
    width: 100%;
    height: 100vh;
    position: relative;
}

#liquid-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 96;
    mix-blend-mode: difference;
    pointer-events: none;
}

#container {
    z-index: 96;
    position: fixed;
}

.columns {
    display: flex;
    width: 100%;
    height: 100vh;
}
.title-column {
    width: 50vw;
    height: 60%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 97;
    /* border: 1px solid white; */
}

.title-column h1 {
    font-family: 'Bonnes';
    color: #fff;
    font-size: 7em;
    text-align: left;
    padding-left: 10%;
}

.content-column {
    top: 0;
    right: 0;
    width: 95%;
    height: 100vh;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 97;
    text-transform: none;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section {
    grid-column: 3 / 3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    /* border: 1px solid white; */
    box-sizing: border-box;
}

.section p {
    font-size: 1.5em;
    padding-top: 30%;
    font-family: 'Peach';
    text-align: left;
    text-transform: none;
}

.section h1 {
    font-size: 2em;
    padding-top: 30%;
    font-family: 'Peach';
    text-align: left;
    text-transform: none;
}


@media (max-width: 900px) {
    .menu-img {
        display: none;
    }
    .content-column {
        grid-template-columns: 1fr;
        justify-content: center;
        flex-direction: column  ;
        width: 100%;
    }

    .title-column h1 {
        font-size: 3em;
        padding-bottom: 60%;
    }

    .section, .section p {
        width: 100%;
        font-size: 1em;
        padding: 10%;
        grid-column: 1 / -1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section h1 {
        width: 100%;
        font-size: 1.5em;
        padding: 10%;
    }
}